html {
    box-sizing: border-box;
    height: 100%;
}
/* *,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} */
body {
    align-items: center;
    background:mistyrose;
    
}

.display {
    align-items: left;
    font-size: 40px;
    height: 80px;
    width: px;
    padding-left: 8%;
    padding-top: 7%;
    background-color: #fff8f7;
    font-family: Roboto,arial,sans-serif;
    border-radius: 10px;
    margin: 0% 6%;
}
.calc-row {
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    margin: 3% 5%;
}
.calc-button {
    width: 100px;
    height: 50px;
    font-family: Roboto,arial,sans-serif;
    background-color: #f8c0ba;
    border-width: 0px;
    border-radius: 4px;
    font-size: 20px;
}

.calc-button:hover {
    background-color:#f08686;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.calc-button:active {
    background-color:#ffffff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.calc-button-grey {
    width: 100px;
    height: 50px;
    font-family: Roboto,arial,sans-serif;
    background-color: #dddddd;
    border-width: 0px;
    border-radius: 4px;
    font-size: 20px;
}
.calc-button-grey:hover {
    background-color:#afafaf;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.calc-button-grey:active {
    background-color:#ffffff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.calc-button-red {
    width: 100px;
    height: 50px;
    font-family: Roboto,arial,sans-serif;
    background-color: #ef948a;
    border-width: 0px;
    border-radius: 4px;
    font-size: 20px;
}
.calc-button-red:hover {
    background-color:#ec7669;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.calc-button-red:active {
    background-color:#ffffff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.divider1{
    width: 5px;
    height: 20px;
}
.divider2 {
    width: 10px;
}
